body {
  background: #100425;
}

.gradient {
  background: rgba(16, 4, 37);
  filter: blur(22px);
}

.gradient-text {
  background: #0cfaf5;
  background: linear-gradient(to right, #0cfaf5 0%, #dc00d3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
